@font-face {
    font-family: SydType;
    src: url(img/Sydtype-Regular.otf);
 }
 @font-face {
    font-family: SydType;
    src: url(img/Sydtype-Regular.otf);
    font-weight: bold;
 }
 * {
    font-family: SydType;
 }
 .text {
    padding: 0%;
 }
 .headertext{
  padding: 0%;
 }
 .titletext{
  padding: 0%;
}
.navtext{
  padding:0%
}
 
   a:link{
      text-decoration: underline;
      text-decoration-color: #BBD5F2;
      color: black}
  
   a:visited{
      text-decoration: underline;
      text-decoration-color: #BBD5F2;
      color: black}
   
    
      /* Regular Text */
     @media only screen and (min-width: 500px) {
         .text{font-size: 20px;}
         .icon{width:25%};
         .section{width: auto height: 100%;};
       }
       
       
       /* Small devices (portrait tablets and large phones, 600px and up) */
       @media only screen and (min-width: 600px) {
         .text{font-size: 20px;}
         .icon{width:45%};
         .section{width: auto height: 100%;};
       }
       
       /* Medium devices (landscape tablets, 768px and up) */
       @media only screen and (min-width: 768px) {
         .text{font-size: 25px;}
         .icon{width:55%}
         .section{width: auto height: 100%;}
       } 
       
       /* Large devices (laptops/desktops, 992px and up) */
       @media only screen and (min-width: 992px) {
         .text{font-size: 30px;}
         .icon{width:75%}
         .section{width: auto height: 100%;}
       } 
       
       /* Extra large devices (large laptops and desktops, 1200px and up) */
        @media only screen and (min-width: 1200px) {
         .text{font-size: 35px;}
         .icon{width:100%;} 
         .section{width: auto height: 100%;}
}
         /* Headers */

         @media only screen and (max-width: 600px) {
          .headertext{font-size: 25px;}
          }
          
          /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (min-width: 600px) {
          .headertext{font-size: 30px;}
          }
          
          /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {
          .headertext{font-size: 35px;}
          } 
          
          /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
          .headertext{font-size: 40px;}
          } 
          
          /* Extra large devices (large laptops and desktops, 1200px and up) */
          @media only screen and (min-width: 1200px) {
            .headertext{font-size: 45px;} }



            /* Page Titles */
          
            @media only screen and (max-width: 600px) {
              .titletext{font-size: 40px;}
            }
            
            /* Small devices (portrait tablets and large phones, 600px and up) */
          @media only screen and (min-width: 600px) {
            .titletext{font-size: 45px;}
            }
            
            /* Medium devices (landscape tablets, 768px and up) */
          @media only screen and (min-width: 768px) {
              .titletext{font-size: 50px;}
            } 
            
            /* Large devices (laptops/desktops, 992px and up) */
          @media only screen and (min-width: 992px) {
              .titletext{font-size: 55px;}
            } 
            
            /* Extra large devices (large laptops and desktops, 1200px and up) */
            @media only screen and (min-width: 1200px) {
              .titletext{font-size: 60px;} }

    